/* Size for brand */
nav .navbar-brand
{
    font-size: xx-large;
}

/* Colors for brand */
nav .navbar-brand .blue
{
    color: #537fbe;
}
nav .navbar-brand .red
{
    color: #ea433b;
}
nav .navbar-brand .yellow
{
    color: #f5b82e;
}
nav .navbar-brand .green
{
    color: #2e944b;
}

table {
    background-color: transparent;
    margin-bottom: 1rem;
    width: 100%;
}

table th,
table td {
    padding: 0.75rem;
    vertical-align: middle;
}

tbody tr:nth-of-type(odd) {
    background-color: rgb(179, 208, 255, 0.3)
}

.center-toggle {
    display: inline-flex;
}

.custom-tooltip {
    --bs-tooltip-bg: #209CEE;
}

.btn-link, .btn-link:hover {
    color: #343a40;
}

.logo {
    margin-right: 0;
    margin-left: 5.6rem;
    max-width: 12.5rem;
}

.logo-symbol {
    margin-top: -0.5rem
}

.logout {
    margin-right: 5.7rem;
}

.nav-item {
    margin-right: 20px;
}
